.main {
  background-color: #edeef3;
  flex-grow: 1;
}

.grid {
  padding: 80px 0 49px 0;
  max-width: 986px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 316px);
  grid-template-rows: repeat(auto-fill, 1fr);
  justify-content: center;
  margin: 0 auto;
  gap: 22px 19px;
}

.text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 36px;
  color: #cff4fc;
  text-align: center;
}
